body {
	background-color: papayawhip;
}

#head {
	color: firebrick;
	text-align: center;
	font-family: century gothic;
}

.para {
	text-align: justify;
	font-size: 20px;
	text-indent: 2em;
	color: darkblue;
}