body {
	background-color: papayawhip;
}

.para1 {
	background-color: blue;
	color: white;
	padding: 2px;
	text-align: center;
	font-family: old english text mt;
	font-size: 60px;
}

.para {
	text-align: justify;
	font-size: 20px;
	text-indent: 2em;
	color: darkblue;
}